<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h2 class="mt-3">投稿記事編集画面</h2>
      <%= render 'form' , post_image: @post_image %>
      <%= link_to '戻る', post_image_path, class: "back btn btn-outline-dark btn-block" %>
    </div>
  </div>
</div>