/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mv {
  background-size: cover;
  height: 760px;
  background-image: url("24198720_m.jpg");
}

.top{
  padding: 40px 40px;
  font-size: 50px;
  color: white;
  font-family: 'Noto Serif JP', serif;
}

.foot{
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
}

.navbar {
  font-family: 'Noto Serif JP', serif;
}

.navbar-brand {
  font-size: 30px;
}

.top-nav  {
  flex-direction: column;
}

.card-list-container {
  font-family: 'Noto Serif JP', serif;
}

.table {
  font-family: 'Noto Serif JP', serif;
}

.row {
  font-family: 'Noto Serif JP', serif;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Noto Serif JP', serif;
}

h2 {
  font-family: 'Noto Serif JP', serif;
}

.box {
background: white; /*背景色の指定*/
border: black 1px solid; /*境界線の指定*/
border-radius: 6px; /*角丸の指定*/
padding:10px;
}